* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root */

:root {
    --main-gray: rgb(236, 229, 221);
}

/* Background */

#grad {
    background-image: linear-gradient(rgb(37 211 102) 150px, gray 50px);
    height: calc(100vh - 30px);
}

/* Generics */
i,
img {
    cursor: pointer;
}

/* General Container */

.my-container {
    width: 1400px;
    height: calc(100vh - 60px);
    margin: 30px auto;
}

/* Sidebar */

.sidebar-container {
    width: calc(100% / 3);
    background-color: aqua;
    height: 100%;
}

.my-header {
    background-color: var(--main-gray);
    min-height: 75px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    background-color: var(--main-gray);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.my-profile {
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.button-myheader {
    margin-right: 20px;
    gap: 15px;
}

/* Message Section */

.message-header {
    background-color: var(--main-gray);
    min-height: 75px;
    width: 100%;
    border: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
}

.message-container {
    width: calc(100% / 3 * 2);
    height: 100%;
}

.message-box {
    background-image: url(../img/mine.jpg);
    height: 100%;
    width: 100%;
    align-items: end;
    overflow-y: scroll;
}

/* Image */

img {
    width: 100%;
    display: block;
}

.img-myprofile {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.img-message {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

/* Notification Enablement Section */

.notify-banner {
    height: 100px;
    background-color: lightblue;
    align-items: center;
}


.fa-bell-slash {
    color: lightblue;
}


.bell-container {
    border-radius: 50%;
    background-color: var(--main-gray);
    height: 50px;
    width: 50px;
    padding: 12px;
    margin-left: 10px;
}

.active-notify {
    text-decoration: underline;
    font-size: smaller;
}

/* Contact Section */

.contact-avatar {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

/* Messages */

.message-sent {
    display: inline-block;
    background-color: rgb(220 248 198);
    width: 400px;
    height: 50px;
    border-radius: 8px;
    color: black;
    margin: 10px 0px 5px 450px;
    padding: 10px;
    position: relative;
}

.message-received {
    display: inline-block;
    background-color: var(--main-gray);
    height: 50px;
    width: 400px;
    border-radius: 8px;
    align-self: flex-start;
    color: black;
    margin: 10px 0px 5px 80px;
    padding: 10px;
    position: relative;
}

.time {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: black;
}

/* Write Message */

.write-message {
    width: 90%;
    margin: 0 20px;
}

.message-footer {
    background-color: var(--main-gray);
    height: 90px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Contact Section */

ul {
    margin-left: 5px;
    padding: 3px;
}

li {
    list-style-type: none;
    min-height: 70px;
    border-bottom: 1px solid white;
}

.smaller {
    font-size: smaller;
    color: gray;
}